@{
    ViewBag.Title = "Contact Me";
}


<address>
   <br /> Alexis Risner<br />
    31 South Court Street Athens Oh 45701<br />
    <abbr title="Phone">P:</abbr>
    419.673.6722
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ar306514@ohio.edu">ar306514@ohio.edu</a>
</address>