@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:rosybrown;" >
    <h1 style="color:papayawhip"> All About Alexis Risner</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Goals</h2>
        <p>
            Upon graduation, I am undecided with what I want to do with my life. I would like to head out west and potentially land a job in software development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>In my free time I like to read, paint, travel, and work out. I used to coach up until I started working at Cedar Point.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Experience</h2>
        <p>I have interned at Cedar Point the last two summers. There I worked as a guest service and special evenets intern.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>